body, html {
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	height: 100vh;
	margin: 0;
	background: #000000;
	background: -webkit-linear-gradient(to left, #000000 , #232323);
	background: linear-gradient(to left, #000000 , #232323); 
	color: #fff;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100vh;
}

.tutorial {
	text-align: center;
	background: #3498db;
	margin: 0;
	padding: 1px;
}